  <form method="get">
    <div class="form-group">
      <h4><label for="sel1">Select Brand</label></h4>
      <select class="form-control" id="sel1">
        <option selected="selected">凯美瑞</option>
        <option>帕萨特</option>
        <option>雅阁</option>
        <option>迈锐宝</option>
        <option>迈锐宝XL</option>
        <option>迈腾</option>
        <option>蒙迪欧</option>
        <option>名图</option>
    </select>
</div>
</form>
<div>
    <button type="button" class="btn btn-default" id='sub'>submit</button>
    {# <button type="button" id='sum'>提交</button> #}
</div>
<!-- Initialize the plugin: -->
<script type="text/javascript">
    $('#sel1').multiselect();
</script>


