<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft ">
        <div class="logofooter"> ABOUT US</div>
        <p>\Detecon Consulting Ltd. – founded in 2002 – is a wholly foreign owned entity (WFOE) of Detecon International GmbH which itself is a subsidiary of T-Systems, the business customer brand of Deutsche Telekom AG.</p>
      </div>
      <div class="col-md-4 col-sm-6 footermiddle">
        <div class="logofooter"> CONTACT US</div>
        <p><i class="fa fa-map-pin"></i>DRC 1st GongtiBeilu Chaoyang District Beijing</p>
        <p><i class="fa fa-phone"></i> Phone (China) : +86 10 5815 7300</p>
        <p><i class="fa fa-envelope"></i> E-mail : info@detecon.com</p>
      </div>
      <div class="col-md-4 col-sm-6 footerright">
        <div class="logofooter"> Logo</div>
        <p><i class="fa fa-map-pin"></i> Facebook</p>
        <p><i class="fa fa-phone"></i>Youtube</p>
        <p><i class="fa fa-envelope"></i>Website</p>
      </div>
    </div>
  </div>
</footer>
