{% extends 'base_1chart.html' %}

{% block title %}level One Index Evaluation{% endblock %}
{% block chart_title %} 一级指标评估 Level-1 Index Evaluation {% endblock%}

{% block cartypeMultiChoice %}
{% include 'multiSelect.html' %}
{% endblock%}
{# jQury Code #}
{% block jquery_script %}
<script>
    $(document).ready(function(){
      $("#selMulti").change(function(){
        var array1 = $("#selMulti").val();
        var json_array1 = JSON.stringify(array1);
        $.getJSON('{% url 'level1' %}',{'a':json_array1}, function(ret){
            drawStacked(ret.list1);
        })
      });
        var array1 = $("#selMulti").val();
        var json_array1 = JSON.stringify(array1);
        $.getJSON('{% url 'level1' %}',{'a':json_array1}, function(ret){
            drawStacked(ret.list1);
            })
  });



</script>
{% endblock %}

{# javascript code to draw chart #}

{% block up_script %}
<script type="text/javascript">
function drawStacked(test_list){
var dom = document.getElementById("container");
var drawStacked = echarts.init(document.getElementById('up'));
var app = {};
option = null;

<!--为实现动态进行得分赋值-->
var sxAxis=[]=test_list[0];
var aseries=[]=test_list[1];
var bseries=[]=test_list[2];
var cseries=[]=test_list[3];
var dseries=[]=test_list[4];
var eseries=[]=test_list[5];
var fseries=[]=test_list[6];
var gseries=[]=test_list[7];
var hseries=[]=test_list[8];

var posList = [
    'left', 'right', 'top', 'bottom',
    'inside',
    'insideTop', 'insideLeft', 'insideRight', 'insideBottom',
    'insideTopLeft', 'insideTopRight', 'insideBottomLeft', 'insideBottomRight'
];

app.configParameters = {
    rotate: {
        min: -90,
        max: 90
    },
    align: {
        options: {
            left: 'left',
            center: 'center',
            right: 'right'
        }
    },
    verticalAlign: {
        options: {
            top: 'top',
            middle: 'middle',
            bottom: 'bottom'
        }
    },
    position: {
        options: echarts.util.reduce(posList, function (map, pos) {
            map[pos] = pos;
            return map;
        }, {})
    },
    distance: {
        min: 0,
        max: 100
    }
};

app.config = {
    rotate: 90,
    align: 'left',
    verticalAlign: 'middle',
    position: 'insideBottom',
    distance: 15,
    onChange: function () {
        var labelOption = {
            normal: {
                rotate: app.config.rotate,
                align: app.config.align,
                verticalAlign: app.config.verticalAlign,
                position: app.config.position,
                distance: app.config.distance
            }
        };
        drawStacked.setOption({
            series: [{
                label: labelOption
            }, {
                label: labelOption
            }, {
                label: labelOption
            }, {
                label: labelOption
            }]
        });
    }
};


var labelOption = {
    normal: {
        show: false,
        position: app.config.position,
        distance: app.config.distance,
        align: app.config.align,
        verticalAlign: app.config.verticalAlign,
        rotate: app.config.rotate,
        formatter: '{c}  {name|{a}}',
        fontSize: 16,
        rich: {
            name: {
                textBorderColor: '#fff'
            }
        }
    }
};

option = {
    color: ['#003366', '#006699', '#4cabce', '#e5323e'],
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'shadow'
        }
    },
    legend: {
        <!--注释掉图例-->
        ata: ['Comfort','Controllability','Cost performance', 'Exterior', 'Fuel Consumption', 'Interior', 'Power', 'Space']
    },
    toolbox: {
        show: true,
        orient: 'vertical',
        left: 'right',
        top: 'center',
        feature: {
            mark: {show: true},
            dataView: {show: true, readOnly: false},
            magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
            restore: {show: true},
            saveAsImage: {show: true}
        }
    },
    calculable: true,
    xAxis: [
        {
            type: 'category',
            axisTick: {show: false},
            data: ['Comfort','Controllability','Cost performance', 'Exterior', 'Fuel Consumption', 'Interior', 'Power', 'Space']
        }
    ],
    yAxis: [
        {
            type: 'value'
        }
    ],

    <!--series:-->
         <!--[-->
            <!--for(var i=0;i<test_lite.length;i++){-->
                    <!--{-->
                        <!--name:sxAxis[i],-->
                        <!--type:'bar',-->

                        <!--label: labelOption,-->
                        <!--data:test_lite[i]-->
                    <!--}-->
            <!--}-->
         <!--]-->
<!--=========================================================-->
    series: [
        {
            name: sxAxis[0],
            type: 'bar',
            barGap: 0,
            label: labelOption,
            data: aseries
        },
        {
            name: sxAxis[1],
            type: 'bar',
            label: labelOption,
            data: bseries
        },
        {
            name: sxAxis[2],
            type: 'bar',
            label: labelOption,
            data: cseries
        },
        {
            name: sxAxis[3],
            type: 'bar',
            label: labelOption,
            data: dseries
        },
        {
            name: sxAxis[4],
            type: 'bar',
            label: labelOption,
            data: eseries
        },
        {
            name: sxAxis[5],
            type: 'bar',
            label: labelOption,
            data: fseries
        },
        {
            name: sxAxis[6],
            type: 'bar',
            label: labelOption,
            data: gseries
        },
        {
            name: sxAxis[7],
            type: 'bar',
            label: labelOption,
            data: hseries
        }
    ]
};

    drawStacked.setOption(option);

        charts.push(drawStacked);
        drawStacked = echarts.init(document.getElementById('down'));
        drawStacked.setOption(option);
        charts.push(drawStacked);

        window.onresize = function(){
            for(var i = 0; i < charts.length; i++){
                charts[i].resize();
            }
        };
}
</script>
{% endblock %}

{% block down_script %}
{% endblock %}