<!--<form method="get" >-->
    <!--<div class="form-group">-->
        <!--<h4><label for="selMulti">Select Brands:</label></h4>-->
        <!--<select class='form-control' id="selMulti" multiple='multiple'>-->
            <!--<option value="凯美瑞" selected="selected">凯美瑞</option>-->
            <!--<option value="帕萨特" selected="selected">帕萨特</option>-->
            <!--<option value="雅阁" selected="selected">雅阁</option>-->
            <!--<option value="迈锐宝" selected="selected">迈锐宝</option>-->
            <!--<option value="迈锐宝XL" selected="selected">迈锐宝XL</option>-->
            <!--<option value="迈腾" selected="selected">迈腾</option>-->
            <!--<option value="蒙迪欧" selected="selected">蒙迪欧</option>-->
            <!--<option value="名图" selected="selected">名图</option>-->
        <!--</select>-->
    <!--</div>-->
<!--</form>-->
<!--<div>-->
    <!--&lt;!&ndash;<button type="button" class="btn btn-default" id='subMulti'>submit</button>&ndash;&gt;-->
<!--</div>-->

<!--<script type="text/javascript">-->
    <!--$('#selMulti').multiselect({-->
            <!--includeSelectAllOption: true,-->
            <!--selectAllJustVisible: false-->
    <!--})-->
<!--</script>-->
