{% extends 'base_1chart.html' %}

{% block title %}Purchase Purpose{% endblock %}
{% block chart_title %} 购车目的分析 Purpose of Vehicle Purchasing {% endblock%}
{% block cartype %}
{% include 'choosecar.html' %}
{% endblock%}

{# jQury Code #}
{% block jquery_script %}
<script>
    $(document).ready(function(){
      $("#sel1").change(function(){
        var car = $("#sel1").val();
        $.getJSON('{% url 'purpose' %}',{'a':car}, function(ret){
            drawStacked(ret.list1);
        })
    });
  });
    var car = $("#sel1").val();
    $.getJSON('{% url 'purpose' %}',{'a':car}, function(ret){
        drawStacked(ret.list1);
    })
</script>
{% endblock %}

{# javascript code to draw chart #}

{% block up_script %}
<script type="text/javascript">
    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawStacked);
    try{
        function drawStacked(list1) {
          var data = google.visualization.arrayToDataTable(list1);

        var options = {
                  width: '100%',
                  height: '100%',
                  bars: 'horizontal', // Required for Material Bar Charts.
                  axes: {
                    x: {
                      distance: {label: 'parsecs'}, // Bottom x-axis.
                      brightness: {side: 'top', label: 'apparent magnitude'} // Top x-axis.
                    }
                  }
                };

      var chart = new google.visualization.BarChart(document.getElementById('up'));
      chart.draw(data, options);
  }
}
    catch(err) {
    alert('error')
    }

</script>
{% endblock %}

{% block down_script %}
{% endblock %}
