{% extends 'base_1chart.html' %}

{% block title %}Purchase Purpose{% endblock %}
{% block chart_title %} 购车目的分析 Purpose of Vehicle Purchasing {% endblock%}
{% block cartype %}
{% include 'choosecar.html' %}
{% endblock%}

{# jQury Code #}
{% block jquery_script %}
<script>
    var car = $("#sel1").val();
    $.getJSON('{% url 'purpose' %}',{'a':car}, function(ret){
        drawStacked(ret.list1);
    });

    $(document).ready(function(){
      $("#sel1").change(function(){
        var car = $("#sel1").val();
        $.getJSON('{% url 'purpose' %}',{'a':car}, function(ret){
            drawStacked(ret.list1);
        })
    });
  });

</script>
{% endblock %}

{# javascript code to draw chart #}

{% block up_script %}
<script type="text/javascript">
function drawStacked(test_list){
var dom = document.getElementById("container");
var drawStacked = echarts.init(document.getElementById('up'));
var app = {};
option = null;
option = {
    title : {
        text: '购车目的分析',
        subtext: 'Purpose of Vehicle Purchasing'
    },
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:[test_list[0][1],test_list[0][2]]
    },
    toolbox: {
        show : true,
        feature : {
            dataView : {show: true, readOnly: false},
            magicType : {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    xAxis : [
        {
            type : 'category',
            data : [test_list[1][0],test_list[2][0],test_list[3][0],test_list[4][0],test_list[5][0],test_list[6][0],test_list[7][0],test_list[8][0],test_list[9][0],test_list[10][0]]
        }
    ],
    yAxis : [
        {
            type : 'value'
        }
    ],
    series : [
        {
            name:test_list[0][1],
            type:'bar',
            data:[test_list[1][1],test_list[2][1],test_list[3][1],test_list[4][1],test_list[5][1],test_list[6][1],test_list[7][1],test_list[8][1],test_list[9][1],test_list[10][1]],

            markLine : {
                data : [
                    {type : 'average', name: test_list[0][1]}
                ]
            }
        },
        {
            name:test_list[0][2],
            type:'bar',
            data:[test_list[1][2],test_list[2][2],test_list[3][2],test_list[4][2],test_list[5][2],test_list[6][2],test_list[7][2],test_list[8][2],test_list[9][2],test_list[10][2]],

            markLine : {
                data : [
                    {type : 'average', name : test_list[0][2]}
                ]
            }
        }
    ]
};
;
if (option && typeof option === "object") {
    drawStacked.setOption(option, true);
}
        charts.push(drawStacked);
        drawStacked = echarts.init(document.getElementById('down'));
        drawStacked.setOption(option);
        charts.push(drawStacked);

        window.onresize = function(){
            for(var i = 0; i < charts.length; i++){
                charts[i].resize();
            }
        };
}
</script>
{% endblock %}

{% block down_script %}
{% endblock %}
